.todo-card {
    max-width: 500px;
    margin: 40px auto;
    background-color: rgba(255, 44, 44, 0.144);
    color: rgb(255, 125, 125);
}

.todo-card:hover {
    cursor: pointer;
    background-color: rgba(255, 44, 44, 0.329);
}